/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */
:root {
  --bg-color: #ef835d;
  --txt-color: #ffffff;
  --txt-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.TextCustom {
  /* Positioning */
  position: relative;
  width: 100%;
  height: 50px;
  /* Box-model */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /* Typography */
  font-family: var(--txt-family);
  /* Visual */
  background-color: var(--bg-color);
  margin: 0;
  padding: 5px;
  border-radius: 10px;
  /* Misc */
}
