@import url("../colors.css");

.Welcome {
  background-color: var(--bg-color-second);
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.Welcome-title {
  width: 100%;
  margin: 0;
  padding: 0;
}

.Welcome-description {
  width: 100%;
  margin: 0;
  padding: 0;
}

.Welcome-button {
  width: 100%;
  box-sizing: border-box;
  padding: 2.5%;
}
